<% provide(:title, "#{@user.name} Edit #{@task.title}") %>
<%= link_to "Back", user_task_path(@user, @task), class:"btn btn-primary"%>
<h1>Update Task <%= @task.title %></h1>
<h4>
<%= form_with(model: [ @user, @task ], local: true) do |form| %>
<% if @task.errors.any? %>
    <div>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: @task.title %>
  </p>
  <p>
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline, :value=> @task.deadline %>
  </p>
  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details, placeholder: @task.details %>
  </p>
  <p>
    <%= form.label :tags %><br>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s, placeholder: @task.tag_list %>
  </p>
  <p>
    <%= form.submit "Save changes", class:"btn btn-primary", style:"font-size:1.2em;" %>
  </p>
<% end %>
</h4>
