<% provide(:title, " #{@user.name} Tag Search") %>

<h3>
<table class="table table-striped table-hover" style="width: 50%; margin: auto;">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <th scope="row"><%= link_to task.title, user_task_path(current_user, task) %></th>
      <td><%= task.deadline %></td>
      <td>
        <%= link_to "Update", edit_user_task_path(current_user, task) %>
	<%= link_to "Delete", user_task_path(current_user, task), method: :delete, data:{ confirm:  'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</h3>

<h3 align="center">
<%= link_to "Back", user_path(@user) %>
</h3>
