<% provide(:title, " #{@user.name} New Task") %>
<%= link_to "Back", "javascript:history.back()", class:"btn btn-primary"%>
<h1>Add a Task:</h1>
<div style="width:50%;margin:auto;font-size:1.2em;">
<%= form_with(model: [ @user, @user.tasks.build ], local: true) do |form| %>
<% if @task.errors.any? %>
    <div>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline %>
  </p>
  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details %>
  </p>
  <p>
    <%= form.label :tags %><br>
    <%= form.text_field :tag_list, value: form.object.tag_list, placeholder:"Separate each tag with space" %>
  </p>
  <p>
    <%= form.submit class: "btn btn-primary" %>
  </p>
<% end %>
<div>
