<% provide(:title, " #{@user.name} #{@task.title}") %>

<h3 style="font-weight:bold;text-align:center;font-size:2.5em;">
<%= "View Task #{@task.title}" %>
</h3>

<ul class="list-group list-group-flush" style="font-size:1.5em; margin: auto;width: 50%">
  <li class="list-group-item">
    <strong>Title:</strong>
    <%= @task.title %>
  </li>
  <li class="list-group-item">
    <strong>Status:</strong>
    <%= @task.completed ? "Completed" : "Ongoing" %>
  </li>
  <li class="list-group-item">
    <strong>Deadline:</strong>
    <%= @task.deadline %>
  </li>
  <li class="list-group-item">
    <strong>Details:</strong>
    <%= @task.details %>
  </li>
  <li class="list-group-item">
    <strong>Tags:</strong>
    <%= render @task.tags %>
  </li>
</ul>

<div style="text-align:center;font-size:1.2em;">
    <% if @task.completed %>
    <em data-toggle="tooltip" title="Mark as ongoing">
    <%= link_to '', user_task_undocomplete_path(@user, @task), method: :patch, class:" btn btn-primary glyphicon glyphicon-remove" %>
    </em>
    <% else %>
    <em data-toggle="tooltip" title="Mark as completed">
    <%= link_to '', user_task_complete_path(@user, @task), method: :patch, class:" btn btn-primary glyphicon glyphicon-ok" %>
    </em>
    <% end %>
    <%= link_to "Update", edit_user_task_path(@user, @task), class:"btn btn-primary" %>
    <%= link_to "Delete", user_task_path(@user, @task), method: :delete, data:{ confirm:  'Are you sure?' }, class:"btn btn-primary"%>
    <%= link_to "Back", "javascript:history.back()", class:"btn btn-primary"%>
</div>
