<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Tags:</strong>
  <%= render @task.tags %>
</p>

<p>
<%= link_to "Update", edit_user_task_path(@user, @task) %>
<%= link_to "Delete", user_task_path(@user, @task), method: :delete, data:{ confirm: 'Are you sure?' } %>
<%= link_to "Back", user_path(@user) %>
</p>

