<% provide(:title, @user.name) %>

<div align="left" class="">
<h3>
<%= link_to "New Task", new_user_task_path(@user) %>
</h3>

<h3>
<%= link_to "All Tags", tags_path %>
</h3>
</div>

<h1>
<%= @user.name %>
</h1>

<h4 align="center">
All Tasks
</h4>

<h2>
<ul class="tasks">
  <% @user.tasks.each do |task| %>
    <li>
      <%= link_to task.title, user_task_path(@user, task) %>
      <%= task.deadline %>
      <%= link_to "update", edit_user_task_path(@user, task) %>
      <%= link_to "delete", user_task_path(@user, task), method: :delete, data:{ confirm: 'Are you sure?' }  %>
    </li>
  <% end %>
</ul>
<h2>
