<% provide(:title, @user.name) %>

<div class="btn-group" role="group" aria-label="Basic example">
	<%= link_to "New Task", new_user_task_path(@user), class:"btn btn-primary" %>
	<%= link_to "All Tags", tags_path, class:"btn btn-primary" %>
</div>

<h1>
<%= "#{@user.name}'s Tasks" %>
</h1>


<div style="width: 50%; margin: auto;">
<%= form_tag(user_tasks_path(@user), :method => 'get', id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Tags", class: "search-bar" %>
<%= submit_tag "Search", class: "btn btn-large btn-active btn-success" %>
<% end %>
</div>

<h1> </h1>

<% if @user.tasks.blank? %>
<h3 style="color:grey;text-align:center;font-size:2.5em;">No task yet.</h3>
<% else %>

<div style="text-align:center;font-size:2.2em;font-weight:bold">
Ongoing Tasks
</div>


<h3>
<table class="table table-striped table-hover" style="width: 50%; margin: auto;">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% tasks = @user.tasks.sort {|a, b| a.deadline <=> b.deadline} %>
  <% tasks.each do |task| %>
    <% if !task.completed %>
    <tr>
      <th scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Mark as completed">
<%= link_to '', user_task_complete_path(@user, task), method: :patch, class:" glyphicon glyphicon-time" %>
      </th>
      <td><%= link_to task.title, user_task_path(@user, task) %></td>
      <% if task.deadline.blank? %>
        <td><%= task.deadline %></td>
      <% else %>
        <% dif = (Date.parse(task.deadline) - Date.today).to_i %>
	      <% if dif <= 3 && dif > 0 %>
		  <td style="color:red;"><%= "#{task.deadline} ( Due in #{dif} day )" %></td>
	      <% elsif dif == 0 %>
		  <td style="color:red;"><%= "#{task.deadline} ( Due today )" %></td>
	      <% elsif dif < 0 %>
		  <td style="color:red;"><%= "#{task.deadline} ( OVERDUE )" %></td>
	      <% else %>
		  <td><%= task.deadline %></td>
	      <% end %>
      <% end %>
      <td>
      <em scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Edit task">
<%= link_to '', edit_user_task_path(@user, task), class:" glyphicon glyphicon-pencil" %>
      </em>
        <em scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Delete task">
        <%= link_to '', user_task_path(@user, task), method: :delete, data:{ confirm:  'Are you sure?' }, class:"glyphicon glyphicon-trash" %>
        </em>
      </td>
    </tr>
    <% else %>
    <% end %>
  <% end %>
  </tbody>
</table>
</h3>

<div style="text-align:center;font-size:2.2em;font-weight:bold">
Completed Tasks
</div>

<h3>
<table class="table table-striped table-hover" style="width: 50%; margin: auto;">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% tasks = @user.tasks.sort {|a, b| a.deadline <=> b.deadline} %>
  <% tasks.each do |task| %>
    <% if task.completed %>
    <tr>
      <th scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Mark as ongoing">
<%= link_to '', user_task_undocomplete_path(@user, task), method: :patch, class:" glyphicon glyphicon-ok"%>
      </th>
      <td><%= link_to task.title, user_task_path(@user, task), style:"text-decoration: line-through;" %></td>
      <td style="text-decoration: line-through;"><%= task.deadline %></td>
      <td>
      <em scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Edit task">
<%= link_to '', edit_user_task_path(@user, task), class:" glyphicon glyphicon-pencil" %>
      </em>
        <em scope="row" class="btn" style="font-size:1em;" data-toggle="tooltip" title="Delete task">
        <%= link_to '', user_task_path(@user, task), method: :delete, data:{ confirm:  'Are you sure?' }, class:" glyphicon glyphicon-trash" %>
        </em>
      </td>
    </tr>
    <% else %>
    <% end %>
  <% end %>
  </tbody>
</table>
</h3>

<% end %>
